section.section-index
    .container
        .baners-container
            .baners-line
                .baner-long
                    .baner-text We will write a custom essay specifically for you for only
                        span.baner-text__strikeout $16.05
                        span.baner-text__orange $12/page
                    a.baner-button(href="/") Learn More
            .baners-line
                .baner-long.br-16
                    .baner-text--yellow We will write a custom essay specifically for your for only
                        span.baner-text__strikeout $16.05
                        span.baner-text__yellow $11/page
                    a.baner-button.baner-yellow-button(href="/") Learn More
